@model here_webapi.Models.Yoklama.AcilanDers

@{
    ViewData["Title"] = Model.Ders.DersAdi + " Yoklaması";
    string url = "/ders/yoklama/gelenler";
}

<h1>@Model.Ders.DersAdi Yoklaması</h1>


@if (Model.SonGecerlilik < DateTime.Now)
{
    <center>
        <h5>Yoklama süresi sona erdi. Yoklama durumu aşağıdaki gibidir.</h5>
    </center>
}
else
{
    <center>
        <h5>Yoklamanızı gerçekleştirmek için lütfen uygulamanızdan QRKodu okutunuz.</h5><br />
        <h5>Kalan süre: @string.Format("{0}:{1}", (Model.SonGecerlilik - DateTime.Now).Minutes, (Model.SonGecerlilik - DateTime.Now).Seconds)</h5>
    </center>
    <div style="width:%100;border:1px solid gray;padding: 15px">
        <center>
            <div id="qrcode">

            </div>
        </center>
    </div>
}
<h5>Yoklama Listesi</h5>
<div id="gelenler">
    <h6>Gelenler</h6>
    <table class="table table-bordered gelenler" id="yoklamatablo">
        <tr><td>Ad</td><td>Soyad</td><td>Durum</td><td>İşlem</td></tr>
    </table>
    <h6>Gelmeyenler</h6>
    <table class="table table-bordered gelmeyenler" id="yoklamatablo">
        <tr><td>Ad</td><td>Soyad</td><td>Durum</td><td>İşlem</td></tr>
    </table>
</div>




@section Scripts {
    <script src="~/lib/jquery.qrcode/qr.min.js"></script>
    @if (Model.SonGecerlilik >= DateTime.Now)
    {
        <script>
        $(document).ready(function () {
            jQuery('#qrcode').qrcode({
                text: "@Model.Key",
                width: 500,
                height: 500
            });
            setInterval(SetYoklama,2000);
        });

        function SetYoklama() {
            var yoklamaID = @Model.Id;
            $.ajax({
            url: "@url",
            type: "GET",
            data: {yokId : yoklamaID},
                success: function (data) {
                $(".yoklamatablo").html("");
                $(".yoklamatablo").append("<tr><td>Ad</td><td>Soyad</td><td>Durum</td><td>İşlem</td></tr>");
                    $.each(data, function (index, value) {
                        var url = "http://46.101.226.8/ders/yoklama/ogrencidurum?yoklama="+ yoklamaID
                    if (value.yoklandi == true) {
                        $(".gelenler").append(
                            "<tr><td>" + value.ogrenci.ogrenciDetay.ad + "</td><td>" + value.ogrenci.ogrenciDetay.soyad + "</td><td><font color=\"green\">Geldi</font></td><td><a href=\""+url+ "&ogr_id="+ value.ogrenci.id +"&ekle=0\" style=\"color:red; cursor:pointer\">Yoklamadan Çıkar</a></td></tr>"
                        );
                    } else {
                        $(".gelmeyenler").append(
                            "<tr><td>" + value.ogrenci.ogrenciDetay.ad + "</td><td>" + value.ogrenci.ogrenciDetay.soyad + "</td><td><font color=\"red\">Gelmedi</font></td><td><a href=\""+url+ "&ogr_id="+ value.ogrenci.id +"&ekle=1\" style=\"color:green; cursor:pointer\">Yoklamaya Ekle</a></td></tr>"
                        );
                    }
                });
            },
            error: function (err) {
                console.log(err);
            }
        });
        }
        </script>
    }
    else
    {
        <script>
        $(document).ready(function () {
                SetYoklama();
        });

            function SetYoklama() {
            var yoklamaID = @Model.Id;
            $.ajax({
            url: "@url",
            type: "GET",
            data: {yokId : yoklamaID},
                success: function (data) {
                $(".yoklamatablo").html("");
                $(".yoklamatablo").append("<tr><td>Ad</td><td>Soyad</td><td>Durum</td><td>İşlem</td></tr>");
                    $.each(data, function (index, value) {
                        var url = "http://46.101.226.8/ders/yoklama/ogrencidurum?yoklama="+ yoklamaID
                    if (value.yoklandi == true) {
                        $(".gelenler").append(
                            "<tr><td>" + value.ogrenci.ogrenciDetay.ad + "</td><td>" + value.ogrenci.ogrenciDetay.soyad + "</td><td><font color=\"green\">Geldi</font></td><td><a href=\""+url+ "&ogr_id="+ value.ogrenci.id +"&ekle=0\" style=\"color:red; cursor:pointer\">Yoklamadan Çıkar</a></td></tr>"
                        );
                    } else {
                        $(".gelmeyenler").append(
                            "<tr><td>" + value.ogrenci.ogrenciDetay.ad + "</td><td>" + value.ogrenci.ogrenciDetay.soyad + "</td><td><font color=\"red\">Gelmedi</font></td><td><a href=\""+url+ "&ogr_id="+ value.ogrenci.id +"&ekle=1\" style=\"color:green; cursor:pointer\">Yoklamaya Ekle</a></td></tr>"
                        );
                    }
                });
            },
            error: function (err) {
                console.log(err);
            }
        });
        }
        </script>
    }

}